{
    "apiKeys": {
        "firebaseDB":    {
     "apiKey": "",
     "authDomain": "",
     "databaseURL": "",
     "projectId": "",
     "storageBucket": "",
     "messagingSenderId": ""
        }
    }
}